<footer class='second-fotter'>
  
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'><%= t('footer2.policy')%></p>
    <p class='second-fotter-text'><%= t('footer2.use')%></p>
    <p class='second-fotter-text'><%= t('footer2.signage')%></p>
  </div>

  <%# <%= image_tag "furima-logo-color.png", class:"second-fotter-logo"%>
</footer>