<section class="page-section" id="review">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
           Reviews
      </h1>
    
    </div>
  </div>
</section>
 <%= link_to 'Write a review',new_review_path, class: "subtitle" %>
 
  <% @reviews.each do |review| %>
   </div>
</div>
      <table class="detail-table">
      
      <table class="detail-table">
          <tbody>
          
            <tr>
            <th class="detail-item">名前</th>
            <td class="detail-value"><%= review.name%></td>
            </tr>
            <tr>
            <th class="detail-item">ユーザー満足度</th>
            
            <% if review.score == 5%>
             <td class="detail-value">⭐️⭐️⭐️⭐️⭐️</td>
             <%elsif%>
             <% review.score == 4%>
             <td class="detail-value">⭐️⭐️⭐️⭐️</td>
             <%elsif%>
             <% review.score == 3%>
             <td class="detail-value">⭐️⭐️⭐️</td>
             <%elsif%>
             <% review.score == 2%>
             <td class="detail-value">⭐️⭐️</td>
             <%elsif%>
             <% review.score == 1%>
             <td class="detail-value">⭐️</td>
             <%end%>
             </tr>
            <tr>
            <th class="detail-item">レビュー</th>
            <td class="detail-value"><%= review.content%></td>
           </tr>
          </tbody>
      </table>
   <% end %>
   <a class="btn" href="/">戻る</a>
   